page-dashboard {
    ion-slides{ max-height:23%;}
  .block{
    position: relative;
    .deleteIcon{
      position:absolute;
      margin-left: 85%;
      margin-top: 5px;
      color: #ffffff;
    }
  }

    ion-content{
      background-color:color($colors,primary);
       background-image:url('../assets/images/back.jpg');
         background-size:100% auto;
    }
}
